{extends layout.latte}

{block title}Login form{/block}

{block body}
    <section>
        <form method="POST">
            <input type="text" name="nickname" placeholder="Username" required>
            <input type="password" name="passwd" placeholder="Password" required>
            <input type="submit" name="" value="Log-in">
        </form>

        {* {if isset($username)}
           <p>Welcome {$username}</p>
        {/if} *}

        {if isset($message)}
            <p>{$message}</p>
        {/if}
    </section>

{/block}