{extends layout.latte}

{block title}Users{/block}

{block body}
    <h1>Family</h1>
    <section>

        <form method="get">
            <input type="text" name="query" placeholder="e. g. John Doe">
            <input type="submit" value="Go!">
        </form>

        <table class="fl-table">
            <thead>
                <tr>
                    <th>first_name</th>
                    <th>last_name</th>
                    <th>birth</th>
                    <th>gender</th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                {foreach $users as $user}
                    <tr>
                        <td>{$user['first_name']}</td>
                        <td>{$user['last_name']}</td>
                        <td>{$user['birth_day']|date: '%d.%m.%Y'}</td>
                        <td>
                            {if $user['gender'] == 'female'}
                                <i class="fas fa-venus"></i>
                            {else}
                                <i class="fas fa-mars"></i>
                            {/if}
                        </td>
                        <td>
                            {if isset($logged_user)}
                                {if $logged_user['id_person'] != $user['id_person']}
                                    <a href="{link delete_user, [id => $user['id_person']] }">
                                        <button>
                                            <i class="fas fa-trash-alt"></i>
                                            Delete
                                        </button>
                                    </a>
                                {/if}
                            {/if}
                        </td>
                    </tr>
                {/foreach}
            </tbody>

        </table>
    </section>
{/block}